body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 700px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.linha{
    width: 400px;
    height: 250px;
    background-color: rgb(168, 168, 168);
    color: white;
    border-radius: 10px;
     margin: 10px;
}

.barra{
    width: 400px;
    height: 250px;
    background-color: #0bcad4;
    color: white;
    border-radius: 10px;


}

.grafico{
    display: flex;
}